body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.friends-card {
  border: 2px solid #1c5d76;
  background-color: #cdebf8;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  width: 300px;
}

.btn {
  padding: 10px;
  border-radius: 8px;
  background-color: #1c5d76;
  color: white;
}

form {
  margin: 0 auto;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

input {
  line-height: 40px;
  width: 300px;
  outline: none;
}